[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
discord = "*"
pandas = "*"
tabulate = "*"
titlecase = "*"
requests = "*"
lxml = "*"
gspread = "*"
openapi = "*"
openai = "*"
bs4 = "*"
wikitextparser = "*"
mwparserfromhell = "*"
matplotlib = "*"
dataframe-image = "*"
"discord.py" = {git = "git+https://github.com/Rapptz/discord.py"}
install = "*"
sqlite-jsonschema = "*"
vanna = "*"
mwclient = "*"
tiktoken = "*"
scipy = "*"
pywikibot = "*"
wikiexpand = "*"
html5lib = "*"
wikitables = "*"
pyquery = "*"
wikimarkup = "*"
html2text = "*"
markdownify = "*"
pyarrow = "*"
markdown = "*"
transformers = "*"
torch = "*"
spacy = "*"
scikit-learn = "*"
elasticsearch = "==7.11.0"
tabgenie = "*"
html2markdown = "*"
pypandoc = "*"
colorlog = "*"
psycopg2 = "*"
asyncpg = "*"

[dev-packages]
pylint = "*"
notebook = "*"

[requires]
python_version = "3.8"
